<div>
    <h3 class="col-md-10">Backend converter REST</h3>
    <div class="col-md-5">

        <textarea id="backendConverter-source" class="form-control" rows="20">
P|Carl Gustaf|Bernadotte
T|0768-101801|08-101801
A|Drottningholms slott|Stockholm|10001
F|Victoria|1977
A|Haga Slott|Stockholm|10002
F|Carl Philip|1979
T|0768-101802|08-101802
P|Barack|Obama
A|1600 Pennsylvania Avenue|Washington, D.C
        </textarea>

        <button id="backendConverter-convert"type="button" class="btn btn-primary">Convert</button>
    </div>

    <div class="col-md-5">

        <textarea id="backendConverter-result" class="form-control" rows="20"></textarea>

    </div>
</div>
