    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid"> <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Converter</a>
        </div> <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li id="home-item" class="active">
                    <a id="home" href="#Home">Home</a>
                </li>
                <li id="simpleConverter-item">
                    <a id="simpleConverter" href="#simpleConverter">Simple Converter</a>
                </li>
                <li id="backendConverter-item">
                    <a id="backendConverter" href="#backendConverter">Backend Converter REST</a>
                </li>
                <li id="socketConverter-item">
                    <a id="socketConverter" href="#socketConverter">Backend Converter Socket</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
